textarea#clearzone {
  width:80em;
  height:15em;
}
textarea#cryptzone {
  width:70em;
  height:9em;
}
#otptok {
  font-family:monospace;
  font-weight:bold;
  font-size:127%;
}
#otpvis.hidden {
  display:none;
}
