textarea#clearzone {
  width:90em;
  height:33em;
}
textarea#cryptzone {
  width:80em;
  height:13em;
  font-size:80%;
}
#otptok {
  font-family:monospace;
  font-weight:bold;
  font-size:127%;
}
#otpvis.hidden {
  display:none;
}
